// LUI-3 FRAMEWORK
// github.com/LUI-3
// originally created by Jiří Bělský (github.com/wUFr)
// ----
// FONTAWESOME - CONFIG
// extends FontAwesome icons font

@fa-css-auto-before:		true;
@fa-css-auto-before_prefix:	fa_b_;

@fa-css-auto-after:			true;
@fa-css-auto-after_prefix:	fa_a_;